@using ControladorVendasASP.NET.Models
@model List<Cliente>
@{
    ViewData["Title"] = "Clientes";
}

<div class="text-center">

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn text-light" role="button"  style="background-color: #00A890;" asp-controller="Cliente" asp-action="InserirClientes">Adcionar novo Cliente</a>
    </div>
    <br>
    <h1 class="display-4">Listagem de Clientes</h1> <br/><br/>
    <table class="table table-responsive table-hover table-bordered">
        <thead class="text-light" style="background-color: #00A890;">
            <tr>
                <th scope="col">Codigo</th>
                <th scope="col">Nome</th>
                <th scope="col">RG</th>
                <th scope="col">CPF</th>
                <th scope="col">E-Mail</th>
                <th scope="col">Telefone</th>
                <th scope="col">Celular</th>
                <th scope="col">CEP</th>
                <th scope="col">Endereco</th>
                <th scope="col">Número</th>
                <th scope="col">Complemento</th>
                <th scope="col">Bairro</th>
                <th scope="col">Cidade</th>
                <th scope="col">Estado</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (Cliente cliente in Model)
                {
                    <tr class="w-25 p-3">
                        <th scope="row">@cliente.Id</th>
                        <td>@cliente.Nome  </td>
                        <td>@cliente.Rg   </td>
                        <td>@cliente.Cpf </td>
                        <td>@cliente.Email </td>
                        <td>@cliente.Telefone </td>
                        <td>@cliente.Celular </td>
                        <td>@cliente.Cep </td>
                        <td>@cliente.Endereco </td>
                        <td>@cliente.Numero </td>
                        <td>@cliente.Complemento </td>
                        <td>@cliente.Bairro </td>
                        <td>@cliente.Cidade </td>
                        <td>@cliente.Estado </td>
                        <td>
                            <div class="btn-group" role="group">
                                <a role="button" class="btn text-light" style="background-color: #00A890;" asp-route-id="@cliente.Id" asp-controller="Cliente" asp-action="EditarClientes">Editar</a>
                                <a role="button" class="btn btn-danger" asp-route-id="@cliente.Id" asp-controller="Cliente" asp-action="RemoverConfirmacao">Remover</a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>

    </table>
</div>
